@use '../globals/colors.scss' as *;
@use '../utility/' as *;

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    border: 0;
    outline: 0;
    background: $almostWhite;
    color: $coffee;
    padding: rem(10) rem(25);
    height: rem(60);
    border-radius: rem(30);
    flex: 1;
    margin-right: rem(16);
    font-size: rem(18);
  }

  button {
    border: 0;
    outline: 0;
    background: $almostWhite;
    border-radius: 50%;
    width: rem(60);
    height: rem(60);
    cursor: pointer;
  }

  button img {
    width: rem(16);
    transform: translateY(3px);
  }
}